@import './common';

.aa {
    font-weight:700;
}

:global(.guideText[aria-hidden]) {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.card {

    &:not(:first-child) {
        margin-top:fontSize(2);
    }

    width:60vw;
    max-width:500px;
    margin:0 auto;

    background-color:#fff;
    border-radius:fontSize(.5);
    border:1px solid rgba(grey, .5);
    box-shadow:0 0 fontSize(1) grey;
    box-sizing:border-box;

    header {
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:fontSize(.5) fontSize(.5) fontSize(.5) fontSize(1);

        .menu {
            button {
                cursor:context-menu;
            }
        }

        dl {
            display:flex;
            width:calc(100% - 48px);
            align-items:center;
            justify-content:flex-start;

            line-height:1em;

            dt + dd {
                padding:.2em .5em;

                background-color:grey;
                border-radius:1em;
                color:#fff;
                font-weight:700;

                &:before {
                    content:'@';
                }
            }
            dd:last-child {
                margin-left:.5em;

                color:grey;
                font-size:.9em;
            }
        }
    }

    .content {
        padding:0 0 fontSize(1);

        .photo {
            height:50vw;
            max-height:420px;

            background-color:lightgrey;

            img {
                display:block;
                width:100%;
                height:100%;
                object-fit:cover;
            }

            & + dl {
                margin-top:fontSize(1);
            }

            :global(.swiper-pagination-bullet-active) {
                background-color:white;
            }
        }
        span.photo {
            display:flex;
            justify-content:center;
            align-items:center;
        }

        dl {
            padding:0 fontSize(1);

            &.info {
                margin-bottom:fontSize(1.5);

                color:grey;
                line-height:1.5em;
            }

            &.hashtags {
                a, button {
                    @extend .designedButton;
                    padding:.2em .5em;

                    &:before {
                        content:'#';
                    }

                    &:hover {
                        background-color:lightgrey;
                    }
                }
            }
        }

        .like {
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            justify-content:center;
            position:relative;
            margin-top:fontSize(1);

            :global(.buttonLike) {
                @extend .designedButton;
                padding:fontSize(.5);

                &:hover {
                    background-color:lightgrey;
                }

                dl {
                    display:flex;
                    align-items:center;
                    padding:0 0 0 (iconSize(.5) + fontSize(.3));

                    $iconMargin:(iconSize(-.5) - fontSize(.3));
                    dt {
                        margin:0 fontSize(.3) 0 $iconMargin;
                        
                        & + dd {
                            font-weight:700;
                        }
                    }
                }
            }

            :global(.likeUsers) {
                width:100%;
                margin-top:fontSize(.3);

                color:grey;
                font-size:fontSize(.9);

                &:after {
                    margin-left:fontSize(.2);

                    content:'좋아합니다.';
                }
            }
        }
    }
}